.risk-card {
  max-width: 250px;
  margin: 10px;
  background-color: #CAECB6;
  padding: 15px;
  border-radius: 13px;
  border-color: #166534;
  border-width: 3px;
}

.risk-title{
  text-align: left;
  font-size: 20px;
}

.risk-content{
  font-size: 15px;
  color: black;
  margin-top: 8px;
  text-align: left;
}

h1{
  font-size: 30px;
  text-align: center;
}

.risks-container{
  display: inline-flex;
}

.health-risks-cards{
  text-align: center;
}

.icon{
  margin-left: 81px;
  margin-right: 81px;
}
