<div class="products-container">
  <h2>Products</h2>

  <!-- Barra de búsqueda -->
  <div class="search-bar">
    <input type="text" placeholder="Search products" class="search-input" [(ngModel)]="searchTerm" (input)="filterProducts()" />
  </div>

  <!-- Filtros -->
  <div class="filters">
    <button (click)="sortProducts('name', 'asc')">Ord(A-Z)</button>
    <button (click)="sortProducts('name', 'desc')">Ord(Z-A)</button>
    <button (click)="sortProducts('calories', 'asc')">Ord(Calories Asc)</button>
    <button (click)="sortProducts('calories', 'desc')">Ord(Calories Desc)</button>
    <button (click)="sortProducts('carbohydrates', 'asc')">Ord(Carbs Asc)</button>
    <button (click)="sortProducts('carbohydrates', 'desc')">Ord(Carbs Desc)</button>
    <button (click)="sortProducts('fat', 'asc')">Ord(Fat Asc)</button>
    <button (click)="sortProducts('fat', 'desc')">Ord(Fat Desc)</button>
    <button (click)="sortProducts('protein', 'asc')">Ord(Protein Asc)</button>
    <button (click)="sortProducts('protein', 'desc')">Ord(Protein Desc)</button>
    <button (click)="sortProducts('sodium', 'asc')">Ord(Sodium Asc)</button>
    <button (click)="sortProducts('sodium', 'desc')">Ord(Sodium Desc)</button>
  </div>

  <!-- Tabla de productos -->
  <table class="products-table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Description</th>
      <th>Serving size</th>
      <th>Calories</th>
      <th>Carbs</th>
      <th>Fat</th>
      <th>Protein</th>
      <th>Sodium</th>
      <th>Sugar</th>
      <th>Fiber</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of filteredProducts" (click)="goToNutritionalValue(product.id)">
      <td class="product-info">
        <img [src]="product.image_url" alt="{{product.name}}" class="product-img" />
        <span>{{ product.name }}</span>
      </td>
      <td>{{ product.brand }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.portionSize }}</td>
      <td>{{ product.calories }} kcal</td>
      <td>{{ product.carbohydrates }} g</td>
      <td>{{ product.fat }} g</td>
      <td>{{ product.protein }} g</td>
      <td>{{ product.sodium }} mg</td>
      <td>{{ product.sugar }} g</td>
      <td>{{ product.fiber }} g</td>
    </tr>
    </tbody>
    </table>
</div>
