<aside class="h-screen">
  <nav class="h-full flex flex-col bg-white border-r shadow-sm">
    <div class="p-4 pb-2 flex justify-between items-center">
       <span
         class="overflow-hidden transition-all text-xl font-bold"
         [ngClass]="{ 'w-32': expanded, 'w-0': !expanded, 'opacity-0': !expanded }"
       >
    Food Facts
  </span>
      <button
        mat-icon-button
        (click)="toggleSidebar()"
        class="p-1.5 rounded-lg bg-gray-50 hover:bg-gray-100"
      >
        <mat-icon>{{ expanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </div>

    <ul class="flex-1 px-3">
      <app-sidebar-item [text]="'Home'" [icon]="'home'" [expanded]="expanded" [route]="'/home'" ></app-sidebar-item>
      <app-sidebar-item [text]="'Products'" [icon]="'shopping_cart'" [expanded]="expanded" [route]="'/products'"></app-sidebar-item>
      <app-sidebar-item [text]="'Nutritionist'" [icon]="'local_hospital'" [expanded]="expanded"></app-sidebar-item>
      <app-sidebar-item [text]="'Profile'" [icon]="'account_circle'" [expanded]="expanded"></app-sidebar-item>
      <app-sidebar-item [text]="'Help'" [icon]="'help_outline'" [expanded]="expanded"></app-sidebar-item>
    </ul>

    <div class="border-t flex p-3">
      <img
        src="https://ui-avatars.com/api/?background=c7d2fe&color=3730a3&bold=true"
        alt=""
        class="w-10 h-10 rounded-md"
      />
      <div
        class="flex justify-between items-center overflow-hidden transition-all"
        [ngClass]="{ 'w-52 ml-3': expanded, 'w-0': !expanded }"
      >
        <div class="leading-4">
          <h4 class="font-semibold">John Doe</h4>
          <span class="text-xs text-gray-600">johndoegmail.com</span>
        </div>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </nav>
</aside>
